.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.responseContainer {
    display: flex;
    min-height: 370px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 510px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.code {
    font-size: 30px;
}

.text, .info {
    font-size: 16px;
}

.text {
    margin-top: 12px;
}