.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: #0080FF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.input {
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

.pen {
}