.sendForm {
    display: flex;
    gap: 44px;
    margin-top: 55px;
}

.textarea {
    width: 100%;
    padding: 13px 24px;
    resize: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    background-color: #F5F7FB;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {

}

.button:active {

}
